:root {
  /* Colors */
  --main-color-web: #4D5AE5;
  --main-title-color: #2E2F42;
  --main-cloud: #F4F4FD;
  --main-bg-white: #FFFFFF;
  --main-text-color: #434455;
  --main-dark-color: #2E2F42;
  --main-link-color: #404bbf;
  --main-accent-color: #e7e9fc;
  --main-light-slate-cl: #8e8f99;
  --main-green-bg-cl: #31d0aa;
  --main-bg-color: rgba(46, 47, 66, 0.4);
  --main-modal-form-bg-cl: #fcfcfc;


  --main-gradient: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70));
  --main-btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  --main-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  --main-our-card-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --main-portfolio-list-item-link-hover-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  --main-portfolio-card-hover-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --main-portfolio-nav-button-hover-focus-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  --main-modal-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  --main-transition-duration-and-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
--main-footer-input-border: rgba(255, 255, 255, 0.3);
--main-footer-input-placeholder: rgba(255, 255, 255, 0.6);
  /* Flexbox grid - number */
  --items: 3;
  /*  Flexbox grid - gap */
  --indent: 24px;
}

/**
          |============================
          |  Styles
          |============================
        */
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-white);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* .page {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
} */

.section-beta {
  padding: 96px 0;
}
.container {
    min-width: 320px;
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}
@media only screen and (max-width: 767px) {
 .header-three {
   text-align: center;
 }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
    }
 @media only screen and (max-width: 1157px) {
   .header-three {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     color: var(--main-dark-color);
     margin-bottom: 8px;
   }
 }
 @media only screen and (min-width: 1158px) {
     .section-beta {
      padding: 120px 0;
     }
    }
     .container {
       max-width: 1158px;
       padding: 0 15px;
     }
  
        /* .header-three {
      font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: var(--main-dark-color);
       margin-bottom: 8px;
     }*/
     
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop screen styles */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
 
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link,
a {
  font-style: normal;
  text-decoration: none;
  color: currentColor;
}

.list,
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.btn,
button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Приховати заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input,
textarea {
  font-family: inherit;
}

/**
          |============================
          | Base styles
          |============================
        */
.title {
  font-family: 'Roboto';
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}
/* Logo */
.logo,
.logo-accent {
  font-weight: 800;
  font-size: 18px;
  font-family: Raleway;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  color: var(--main-color-web);
}

/**
                  |============================
                  | Header-section
                  |============================
                */
.header {
  border-bottom: 1px solid var(--main-accent-color);
  box-shadow: var(--main-shadow);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-nav {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
.header .logo {
  margin-right: 120px;
}
}
@media only screen and (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
  }
}
@media only screen and (min-width: 1158px) {
.header .link {
  padding: 24px 0;
}
}
.header .logo-black-title {
  color: var(--main-title-color);
}
@media only screen and (min-width: 768px) {
.header-list {
  display: flex;
  gap: var(--indent);
  align-items: center;
  --indent: 40px;
}
}
@media only screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.nav-link {
  line-height: 24px;
  display: block;
  letter-spacing: 0.02em;
  font-weight: 500;
  position: relative;
  color: var(--main-title-color);
  transition: color var(--main-transition-duration-and-timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--main-link-color);
}

.nav-link.active {
  color: var(--main-link-color);
}
.header-nav .link {
  padding: 24px 0;
}
.nav-link.active::after {
  content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-link-color);
  }

@media only screen and (max-width: 767.98px) {
.header-address {
  display: none;
}
}
@media only screen and (min-width: 768px) {
  .header-adress {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-adress {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
  }
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--main-link-color);
}
@media only screen and (min-width: 1158px) {
.header-address-list {
  display: flex;
  gap: var(--indent);
  --items: 2;
  --indent: 40px;
}
}
@media only screen and (min-width: 1158px) {
.header-address-item {
  flex-basis: calc((100% - (var(--indent)) * (var(--items) - 1)) / var(--items));
}
}

.header-address-link:active {
  color: var(--main-color-web);
}

.header-address-link {
  display: block;
  color: var(--main-text-color);
  transition: color var(--main-transition-duration-and-timing-function);
}
  @media only screen and (min-width: 768px) {
  .header-address-link {
    font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .header-address-item:not(:last-child) .header-address-link {
margin-bottom: 12px;
}
}

@media only screen and (min-width: 1158px) {
  .header-address-link {
    font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
    }
        @media only screen and (min-width: 768px) and (max-width: 1157.98px) {
      .header-address-item:first-child .header-address-link {
        padding-top: 16px;
          padding-bottom: 0;
        }
             .header-address-item:last-child .header-address-link {
            padding-top: 0;
              padding-bottom: 16px;
              }
              }
/**
                  |============================
                  | Main styles webstudio page
                  |============================
                */
.main {}

.section {
padding-top: 48;
  padding-bottom: 48;
}
@media only screen and (min-width: 768px) {
  .section {
    padding-top: 48;
    padding-bottom: 48;
  }
}

@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 60;
    padding-bottom: 60;
  }
}
/* Hero-section */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--main-dark-color);
  padding: 112px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-offic_mobile@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-offic_mobile@2x.jpg);
      }
      }
      
      @media only screen and (min-width: 429px) {
        .hero {
          background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-offic_table@1x.jpg);
            }
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
              .hero {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                  url(../images/people-offic_table@2x.jpg);
                  }
                  }
                  }
                  
                  @media only screen and (min-width: 769px) {
                    .hero {
                      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                        url(../images/people-office_desk@1x.jpg);
                        }
                        
                        @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                          .hero {
                            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                              url(../images/people-office_desk@2x.jpg);
                              }
                              }
                              }
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
  }
}
.hero-title {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-bg-white);
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-btn {
  display: block;
  box-shadow: var(--main-btn-shadow);
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--main-color-web);
  color: var(--main-bg-white);
  transition: background-color var(--main-transition-duration-and-timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--main-link-color);
}
/*                           */
/*index.html section 2 styles*/
/*                           */

@media only screen and (max-width: 767px) {
  .webstudio-card:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .webstudio-container {
    display: flex;
    gap: 24px;
  }

  .webstudio-card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .webstudio-container {
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .webstudio-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

.webstudio-card-image {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .webstudio-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-cloud);
      height: 112px;
      border-radius: 4px;
      margin-bottom: 8px;
    }
    }
    
    @media only screen and (max-width: 1157px) {
      .webstudio-card-text {
        font-weight: 500;
      }
    }
/* section 2 */
.profit-1title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    padding-bottom: 72px;
    margin-bottom: 8px;
  }
  .profit {
      padding: 120px 0 120px;
    }
    .profit-list {
        /* display: flex;
        align-items: center;
        flex-basis: calc((100% - 72px) / 4));
        gap: 24px; */
      }
    
      @media only screen and (min-width: 768px) {
        .profit-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;
          }
        }
        
        @media only screen and (min-width: 1158px) {
          .profit-list {
              display: flex;
              flex-wrap: nowrap;
              align-items: flex-start;
              gap: 24px;
            }
          }
          
          @media only screen and (max-width: 767.98px) {
            .profit-item:not(:last-child) {
                margin-bottom: 72px;
              }
            }
            
            @media only screen and (min-width: 768px) {
              .profit-item {
                  flex-basis: calc((100% - 24px) / 2);
                }
              }
              
              @media only screen and (min-width: 1158px) {
                .profit-item {
                    flex-basis: calc((100% - 24px) / 4);
                  }
                }
               .profit-item-icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 264px;
                  height: 112px;
                  flex-shrink: 0;
                  border-radius: 4px;
                  background: var(--main-cloud);
                    margin-bottom: 8px;
                  }
                  
                  @media only screen and (max-width: 1157px) {
                  .profit-item-icon {
                    display: none;
                    }
                    }
                  .item-icon {
                    width: 64px;
                      height: 64px;
                      flex-shrink: 0;
                    }
                    .profit-title {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1.2;
                        letter-spacing: 0.02em;
                        color: var(--main-dark-color);
                        }
                        
                        @media only screen and (min-width: 320px) and (max-width: 767.98px) {
                          .profit-title {
                            text-align: center;
                              font-size: 36px;
                              font-weight: 700;
                            }
                            }
                            
                            @media only screen and (min-width: 768px) {
                            .profit-title {
                              font-size: 36px;
                                font-weight: 700;
                              }
                              }
                              
                              @media only screen and (min-width: 1156px) {
                              .profit-title {
                                font-size: 20px;
                                }
                                }
                                .profit-text {
                                    font-family: 'Roboto';
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    letter-spacing: 0.02em;
                                    color: var(--main-text-color);
                                    }
                                    
                                    @media only screen and (min-width: 768px) {
                                    .profit-text {
                                      width: 264px;
                                      }
                                      }

/* Projects-section */
.projects {
  padding-bottom: 120px;
}
@media only screen and (max-width: 1157px) {
.projects {
  display: none;
  }
  }
    .projects-title {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: capitalize;
      color: var(--main-dark-color);
      margin-bottom: 72px;
    }
.projects-list {
  display: flex;
  gap: var(--indent);
  align-items: center;
  justify-content: space-between;
}
.projects-list-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
/* Our-team-section */
.our-team {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--main-cloud);
}
@media only screen and (min-width: 1158px) {
  .our-team {
    padding-top: 120px;
      padding-bottom: 120px;
    }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .our-team-container {
        max-width: 584px;
      }
    }
    @media only screen and (min-width: 768px) {
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: var(--indent);
  justify-content: space-between;
  --items: 2;
}
}

@media only screen and (min-width: 1158px) {
.our-team-list {
  gap: var(--indent);
    --items: 4;
  }
  }
.our-team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-white);
  box-shadow: var(--main-our-card-shadow);
}
@media only screen and (max-width: 767.98px) {
  .our-team-item:not(:last-child) {
        margin-bottom: 72px;
      }
      .our-team-item {
        width: 264px;
          margin: 0 auto;
        }
        }
        
        @media only screen and (min-width: 768px) {
          .profit-item {
              flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
            }
          }
.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.our-team-text {
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}



.social-media-list {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  align-items: center;
}

.social-media-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color-web);
  transition: background-color var(--main-transition-duration-and-timing-function);
}

.social-media-item-link:hover,
.social-media-item-link:focus {
  background-color: var(--main-link-color);
}

.social-media-icon {
  flex-shrink: 0;
  fill: var(--main-cloud);
}

/* Customer section */
.customer {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .customer {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  --items: 2;
}

@media only screen and (min-width: 768px) {
  .customer-list {
    column-gap: var(--indent);
    --items: 3;
  }
}

@media only screen and (min-width: 1158px) {
  .customer-list {
    gap: var(--indent);
    --items: 6;
  }
}

.customers-list-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  height: 88px;
}

.customer-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-light-slate-cl);
    border-radius: 4px;
    color: var(--main-light-slate-cl);
      transition: color var(--main-transition-duration-and-timing-function),
        border-color var(--main-transition-duration-and-timing-function);
    }
    
    .customer-list-item-link-icon {
      fill: currentColor;
    }
.customer-list-item-link:hover,
.customer-list-item-link:focus {
  border-color: var(--main-link-color);
  color: var(--main-link-color);
}

/**
                   |============================
                   | Main styles portfolio page
                   |============================
                 */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-nav {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  margin-bottom: 72px;
}

.nav {
  display: flex;
  align-items: center;
}

.portfolio-nav-item {}

.portfolio-nav-button {
  padding: 12px 24px;
  border: 1px solid var(--main-accent-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main-color-web);
  background-color: var(--main-cloud);
  transition: color var(--main-transition-duration-and-timing-function),
    background-color var(--main-transition-duration-and-timing-function),
    border-color var(--main-transition-duration-and-timing-function),
    box-shadow var(--main-transition-duration-and-timing-function);
}

.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
  border-color: transparent;
  color: var(--main-bg-white);
  background-color: var(--main-link-color);
  box-shadow: var(--main-portfolio-nav-button-hover-focus-shadow);
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--main-transition-duration-and-timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: var(--main-portfolio-list-item-link-hover-shadow);
}

.portfolio-page-card-content {
  padding: 32px 16px;
  border: 1px solid var(--main-accent-color);
  border-top: none;
  transition: border var(--main-transition-duration-and-timing-function);
}

.portfolio-link:hover .portfolio-page-card-content,
.portfolio-link:focus .portfolio-page-card-content {
  border: 1px solid var(--main-cloud);
  border-top: none;
}

.profit-title {
  margin-bottom: 8px;
  color: var(--main-dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-text {

  font-size: 16px;
  color: var(--main-text-color);
}

/* Portfolio overlay styles */
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--main-color-web);
  color: var(--main-cloud);
  transition: transform var(--main-transition-duration-and-timing-function);
  transform: translateY(100%);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-text {
  color: var(--main-cloud);
}

/**
                      |============================
                      | Footer content
                      |============================
                    */
.footer {
  background-color: var(--main-dark-color);
    padding: 96px 0;
  }
  
  @media only screen and (min-width: 1158px) {
    .footer {
      padding: 100px 0;
    }
  }
  
  .footer-container {
    display: flex;
  }
  
  @media only screen and (max-width: 767px) {
    .footer-container {
      flex-direction: column;
      gap: 72px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .footer-container {
      align-items: baseline;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
      flex-wrap: wrap;
      gap: 72px 24px;
      padding-left: 92px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .footer-logo-container {
      margin: 0 auto;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 1158px) {
    .footer-logo-container {
      margin-right: 120px;
    }
  }
  
  .footer-link {
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .footer-text {
    color: var(--main-cloud);
    }
    
    .footer-paragraph {
      width: 264px;
    }
    
    @media only screen and (max-width: 767px) {
      .footer-paragraph {
        width: 268px;
        text-align: left;
      }
    }
    
    @media only screen and (max-width: 767px) {
      .footer-media-container {
        margin: 0 auto;
        text-align: center;
      }
    }
    
    @media only screen and (min-width: 1158px) {
      .footer-media-container {
        margin-right: 80px;
      }
    }
    
    .footer-label {
      display: block;
      color: var(--main-bg-white);
        font-weight: 500;
        margin-bottom: 16px;
        /* autocheck */
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
      }
      
      .footer-list {
        display: flex;
        gap: 16px;
      }
      
      .footer-card {
        /*flex-basis: calc((100% - 3 * 16px) / 4);*/
        width: 40px;
        height: 40px;
      }
      
      .footer-card-link {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color-web);
          border-radius: 50%;
          transition: background-color var(--main-transition-duration-and-timing-function);
          }
          
          .footer-card-link:hover,
          .footer-card-link:focus {
            background-color: var(--main-green-bg-cl);
            }
            
            .footer-card-icon {
              fill: var(--main-cloud);
              }
              
              @media only screen and (max-width: 767px) {
                .footer-form-container {
                  width: 100%;
                  margin: 0 auto;
                  text-align: center;
                }
              }
              
              .footer-form {
                display: flex;
              }
              
              @media only screen and (max-width: 767px) {
                .footer-form {
                  flex-direction: column;
                  align-items: center;
                  gap: 16px;
                }
              }
              
              @media only screen and (min-width: 768px) {
                .footer-form {
                  gap: 24px;
                  min-width: 455px;
                }
              }
              
              .footer-form-label {
                width: 100%;
              }
              
              .footer-input {
                width: 100%;
                height: 40px;
                padding: 8px 16px;
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                background-color: transparent;
                color: var(--main-bg-white);
                  border: 1px solid var(--main-bg-white);
                    border-radius: 4px;
                    filter: drop-shadow(var(--main-btn-shadow));
                    }
                    
                    .footer-input::placeholder {
                      font-size: 12px;
                      line-height: 2;
                      letter-spacing: 0.04em;
                      color: var(--main-bg-white);
                      }
                      
                      @media only screen and (min-width: 428px) {
                        .footer-input {
                          width: 400px;
                        }
                      }
                      
                      @media only screen and (min-width: 768px) {
                        .footer-input {
                          width: 266px;
                        }
                      }
                      
                      @media only screen and (max-width: 1157px) {
                        .footer-input {
                          border-color: var(--main-footer-input-border);
                          }
                          
                          .footer-input::placeholder {
                            color: var(--main-footer-input-placeholder);
                            }
                            }
                            
                            .footer-button {
                              border: none;
                              display: flex;
                              height: 40px;
                              width: 165px;
                              padding: 8px 24px;
                              justify-content: center;
                              align-items: center;
                              border-radius: 4px;
                              background-color: var(--main-color-web);
                                cursor: pointer;
                                color: var(--main-bg-white);
                                  text-align: center;
                                  font-size: inherit;
                                  font-weight: 500;
                                  line-height: 1.5;
                                  letter-spacing: 0.04em;
                                }
                                
                                .footer-button-icon {
                                  fill: var(--main-bg-white);
                                    margin-left: 16px;
                                  }

/* Modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
    transition: opacity var(--main-transition-duration-and-timing-function),
      visibility var(--main-transition-duration-and-timing-function);
  }
  
  @media only screen and (max-width: 767.98px) {
    .backdrop {
      overflow-y: auto;
    }
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 392px;
    min-height: 584px;
    padding: 72px 16px 24px;
    border-radius: 4px;
    background-color: var(--main-modal-form-bg-cl);
      box-shadow: var(--main-modal-shadow);
        transition: transform var(--main-transition-duration-and-timing-function);
        transform: translate(-50%, -50%) scale(1);
      }
      
      @media only screen and (min-width: 320px) and (max-width: 427.98px) {
        .modal {
          width: calc(288px + (392 - 288) * ((100vw - 320px) / (427.98 - 320)));
        }
      }
      
      @media only screen and (max-width: 767.98px) {
        .modal {
          top: 20px;
          transform: translateX(-50%);
          scale(1);
        }
      }
      
      @media only screen and (min-width: 768px) {
        .modal {
          width: 408px;
          padding: 72px 24px 24px;
        }
      }
      
      .modal-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: var(--main-accent-color);
          transition: background-color var(--main-transition-duration-and-timing-function),
            border var(--main-transition-duration-and-timing-function);
        }
        
        .modal-close-btn:hover,
        .modal-close-btn:focus {
          border: none;
          background-color: var(--main-link-color);
          }
          
          .close-modal-icon {
            fill: var(--main-dark-color);
              transition: fill var(--main-transition-duration-and-timing-function);
            }
            
            .modal-close-btn:hover .close-modal-icon,
            .modal-close-btn:focus .close-modal-icon {
              fill: var(--main-bg-white);
              }
              
              /* Modal Order Service form styles */
              .modal-caption {
                margin-bottom: 16px;
                color: var(--main-dark-color);
                  font-weight: 500;
                  text-align: center;
                }
                
                .modal-form {
                  display: flex;
                  flex-direction: column;
                }
                
                .modal-form-field-container {
                  margin-bottom: 8px;
                }
                
                /* Margin for comment input */
                .modal-form-textarea-container {
                  margin-bottom: 16px;
                }
                
                .modal-form-label {
                  display: block;
                  margin-bottom: 4px;
                  color: var(--main-light-slate-cl);
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.04em;
                  }
                  
                  .modal-form-input-container {
                    position: relative;
                  }
                  
                  .modal-form-input {
                    width: 100%;
                    height: 40px;
                    padding-left: 38px;
                    border: 1px solid var(--main-bg-color);
                      border-radius: 4px;
                      background-color: transparent;
                      color: var(--main-dark-color);
                        outline: transparent;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        transition: border-color var(--main-transition-duration-and-timing-function);
                      }
                      
                      /* Stecifical styles for textarea comment input */
                      .modal-form-input:last-child {
                        height: 120px;
                        padding: 8px 16px;
                        color: var(--main-bg-color);
                          font-size: 12px;
                          line-height: 1.17;
                          resize: none;
                        }
                        
                        .modal-form-input::placeholder {
                          color: var(--main-bg-color);
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 1.17;
                            letter-spacing: 0.04em;
                          }
                          
                          .modal-form-input:focus {
                            border-color: var(--main-color-web);
                            }
                            
                            .modal-form-icon {
                              position: absolute;
                              top: 50%;
                              left: 16px;
                              outline: transparent;
                              fill: var(--main-dark-color);
                                transition: fill var(--main-transition-duration-and-timing-function);
                                transform: translateY(-50%);
                              }
                              
                              .modal-form-input:focus+.modal-form-icon {
                                fill: var(--main-color-web);
                                }
                                
                                .modal-form-checkbox-container {
                                  margin-bottom: 24px;
                                }
                                
                                .modal-form-checkbox-label {
                                  color: var(--main-light-slate-cl);
                                    font-size: 12px;
                                    line-height: 1.17;
                                    letter-spacing: 0.04em;
                                  }
                                  
                                  .modal-form-checkbox-accent {
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 8px;
                                    border: 1px solid var(--main-bg-color);
                                      border-radius: 2px;
                                      fill: transparent;
                                      transition: background-color var(--main-transition-duration-and-timing-function),
                                        border var(--main-transition-duration-and-timing-function), fill var(--main-transition-duration-and-timing-function);
                                    }
                                    
                                    .modal-form-checkbox:checked+.modal-form-checkbox-label .modal-form-checkbox-accent {
                                      border: none;
                                      background-color: var(--main-link-color);
                                        fill: var(--main-cloud);
                                        }
                                        
                                        .modal-form-checkbox:focus+.modal-form-checkbox-label .modal-form-checkbox-accent {
                                          outline: 1px solid var(--main-color-web);
                                            text-decoration: underline;
                                          }
                                          
                                          .modal-form-button {
                                            display: block;
                                            min-width: 169px;
                                            height: 56px;
                                            margin: 0 auto;
                                            border: none;
                                            border-radius: 4px;
                                            background-color: var(--main-color-web);
                                              color: var(--main-bg-white);
                                              font-weight: 500;
                                              font-size: 16px;
                                              line-height: 1.5;
                                              letter-spacing: 0.04em;
                                              cursor: pointer;
                                              transition: background-color var(--main-transition-duration-and-timing-function);
                                            }
                                            
                                            .modal-form-button:hover,
                                            .modal-form-button:focus {
                                              background-color: var(--main-link-color);
                                              }
.modal-form-checkbox-link {
  color: var(--main-color-web);
  text-decoration: underline;
}
/*
  |============================
  | Mobile menu styles
  |============================
*/
.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-icon {
  stroke: var(--main-dark-color);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 80px 0 75px 40px;
    background-color: var(--main-bg-white);
      transition: transform var(--main-transition-duration-and-timing-function) 150ms;
      transform: translateX(100%);
    }
    
    .menu-container.is-open {
      transition: transform var(--main-transition-duration-and-timing-function);
      transform: translateX(0);
    }
    
    .menu-container .menu-toggle {
      position: absolute;
      top: 24px;
      right: 24px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      min-width: 24px;
      min-height: 24px;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background-color: var(--main-accent-color);
        transition: background-color var(--main-transition-duration-and-timing-function),
          border var(--main-transition-duration-and-timing-function);
      }
      
      .menu-container .menu-toggle:hover,
      .menu-container .menu-toggle:focus {
        border: none;
        background-color: var(--main-link-color);
        }
        
        .menu-close-icon {
          fill: var(--main-dark-color);
            transition: fill var(--main-transition-duration-and-timing-function);
          }
          
          .menu-container .menu-toggle:hover .menu-close-icon,
          .menu-container .menu-toggle:focus .menu-close-icon {
            fill: var(--main-bg-white);
            }
            
            .mobile-menu {
              width: fit-content;
            }
            
            .mobile-menu-item:not(:last-child) {
              margin-bottom: 40px;
            }
            
            .mobile-menu-link {
              font-weight: 700;
              font-size: 36px;
              line-height: 1.11;
              text-transform: capitalize;
            }
            
            .mobile-menu-link.active {
              color: var(--main-link-color);
              }
              
              .mobile-address {
                margin-bottom: 40px;
                padding-right: 35px;
              }
              
              .mobile-address-list-item:first-child {
                margin-bottom: 40px;
              }
              
              .mobile-address-list-item:first-child .mobile-address-list-link {
                color: var(--main-color-web);
                  font-weight: 700;
                  font-size: 36px;
                  line-height: 1.11;
                  text-transform: capitalize;
                }
                
                @media only screen and (min-width: 320px) and (max-width: 427.98px) {
                  .mobile-address-list-item:first-child .mobile-address-list-link {
                    font-size: calc(25.3px + (36 - 25.3) * ((100vw - 320px) / (427.98 - 320)));
                  }
                }
                
                .mobile-address-list-item:last-child .mobile-address-list-link {
                  font-weight: 500;
                  font-size: 20px;
                  line-height: 1.2;
                }
                
                .mobile-social-media-list {
                  display: flex;
                  gap: 56px;
                  justify-content: flex-start;
                  align-items: center;
                }
                
                @media only screen and (min-width: 320px) and (max-width: 427.98px) {
                  .mobile-social-media-list {
                    gap: calc(35px + (56 - 35) * ((100vw - 320px) / (427.98 - 320)));
                  }
                }
                
                .mobile-social-media-item-link {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: var(--main-color-web);
                    transition: background-color var(--main-transition-duration-and-timing-function);
                    }
                    
                    .mobile-social-media-item-link:hover,
                    .mobile-social-media-item-link:focus {
                      background-color: var(--main-link-color);
                      }
                      
                      .mobile-social-media-icon {
                        flex-shrink: 0;
                        fill: var(--main-cloud);
                        }